# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cmmzoykcoiystbgndaif.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_t8dDSxNlTmiUtu1_hR16-w_goO6xAes

# Database Configuration (MySQL/XAMPP)
DB_HOST=localhost
DB_NAME=db_sekolah
DB_USER=root
DB_PASS=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
